:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input.error,
textarea.error {
  border: 1px solid var(--error);
}

/*span {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  background: #dfd6d6;
  padding: 6px;
  border-radius: 50%;
  color: #000000;
}*/
